<h2 class="to-landingpage text-center">
  我们为什么要做一个全栈客？
</h2>

<ul class="row grid">
  <li class="altum-banner col-sm-6 col-xs-12" style="
  background-image: url('<%= asset_path("album-1.jpg") %>') ;">
  </li>
  <li class="altum-banner col-sm-6 col-xs-12" style="
  background-image: url('<%= asset_path("album-1.jpg") %>') ;">
  </li>
  <li class="altum-banner col-sm-6 col-xs-12" style="
  background-image: url('<%= asset_path("album-1.jpg") %>') ;">
  </li>
  <li class="altum-banner col-sm-6 col-xs-12" style="
  background-image: url('<%= asset_path("album-1.jpg") %>') ;">
  </li>
</ul>
